@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html[data-theme="light"]{
    --main-bg-color:hsl(0, 0%, 100%);
    --top-bg-pattern:hsl(225, 100%, 98%);
    --card-bg:hsl(227, 47%, 96%);
    --secondary-text-color:hsl(228, 12%, 44%);
    --primary-text-color:hsl(230, 17%, 14%);
    --toggle-theme:hsl(230, 22%, 74%);
}
html[data-theme="dark"]{
    --main-bg-color:hsl(230, 17%, 14%);
    --top-bg-patter:hsl(232, 19%, 15%);
    --card-bg:hsl(227, 47%, 96%);
    --secondary-text-color:hsl(228, 34%, 66%);
    --primary-text-color:hsl(228, 34%, 66%);
    --additional-text-color:hsl(0, 0%, 100%);
    --toggle-theme: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0;
    padding:1rem 1.5rem;
    background-color: var(--main-bg-color);
}
.title{
    border-bottom: 2px solid hsl(230, 22%, 74%);
}
.title h1{
    color: var(--primary-text-color);
    margin-bottom: .5rem;
}

.title p{
    margin-top: 0;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--secondary-text-color);
}
.theme-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-area p{
    font-weight: 700;
    font-size: .9rem;
    color: var(--secondary-text-color);
}
.toggle-element{
    background: var(--toggle-theme);
    width: 2.2rem;
    border-radius: .8rem;
    display: flex;
    justify-content: end;
    padding: .2rem;
}
.toggle-element button{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: none;
}